/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-dark-color);
    color: var(--color-white);
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}

.debug{
    border: 1px solid white;
} 
.wrapper{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height:calc(100% - 100px);
}
#side-bar{
    width: 200px;
}
main{
    width:calc(100% - 200px);
    height: calc(100vh - 100px);
    overflow-y: auto;
}
#nav-bar{
    width:calc(100% - 200px);
    height: 100px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 1000;
}
#content-box{
    margin-top: 100px;
    width:100%;
}
#play-bar{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-grey);
}

/* flex utilities */
.flex{
    display: flex;
}
.j-end{
    justify-content: flex-end;
}
.j-center{
    justify-content: center;
}
.j-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.items-center{
    align-items: center;
}
.items-start{
    align-items: flex-start;
}
.f-column{
    flex-direction: column;
}
.content-center{
    align-content: center;
}

/* backgrounds and text */
#side-bar{
    background-color: var(--color-black);
}
#nav-bar{
    background-color:rgba(00, 00, 00, 0.3) ;
}
#play-bar{
    background-color: var(--color-dark-grey);
}
.gray-text{
    color: var(--color-grey);
}
.white-text{
    color:var(--color-white);
}
.gray-background{
    background-color: var(--color-grey);
}
.round-border{
    border-radius: 50%;
}
.bold{
    font-weight: 800;
}

/* padding */
.px-5{
    padding-right: 5px;
    padding-left: 5px;
}
.py-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.px-10{
    padding-right: 10px;
    padding-left: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20{
    padding-right: 20px;
    padding-left: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-top-10{
    padding-top: 10px;
}
.p-bottom-10{
    padding-bottom: 10px;
}

/* sidebar */
.playlist-list{
    max-height: 250px;
    overflow-y: auto;
}

.playlist-list>li{
    padding-bottom: 10px;
}
.create-playlist h3, #side-bar * li, .new-playlist, .username, .install{
    font-size: 0.8em;
    font-weight: 800;
}
.faplus, .side-icon{
    margin-right: 5px;
}
.fa-plus{
    background-color: var(--color-grey);
    color: var(--color-black);
}
.logo-container{
    width: 80%;
}
#logo{
    width: 100%;
}
.side-icon{
    font-size: 1.5em;
}
.bottom-side-bar{
    position: absolute;
    bottom: 100px;
    left: 0;
}
.install-app{
    border-bottom: 1px solid var(--color-grey);
}

/* navbar */
.upgrade-btn{
    font-size: 0.7em;
    border: 1px solid var(--color-white);
    border-radius: 20px;

}
.call-to-action-btn{
    margin: 30px;
}

/* content box */
.main-container h2{
    font-size: 1.4em;
}
.main-container p{
    font-size: 0.7em;
    color: var(--color-grey);
    font-weight: 800;
}
.option-list *{
    padding: 10px 5px;
    font-size: 0.9em;
    font-weight: 600;
}
.card-text{
    text-align: center;
}
.card-text h3{
    font-size: 0.8em;
    padding: 10px 5px;
    font-weight: 800;
}
.card{
    width: calc(100% / 6);

}
.card-image{
    width: 100%;
}
.card-image img{
    width: 100%;
}
.sub{
    font-size: 0.7em;
    color: var(--color-grey);
    font-weight: 800;
}
.card-image.round img{
    object-fit: contain;
    border-radius: 50%;
}

/* playbar */
.song-img{
    width: 50px;
}
.song-img img{
    width: 100%;
}
.play-bar{
    width: calc(100% / 3);
}
.song-title{
    margin-right: 20px;
}
.song-title h3{
    font-size: 0.7em;
}
.song-title span{
    font-size: 0.6em;
}
.icon-soundbar{
    font-size: 1.2em;
}
.icon-soundbar.fa-circle-play{
    font-size: 1.8em;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 5px;
    background: var(--color-light-grey);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: var(--color-dark-grey);
    border-radius: 50%;
    border: 1px solid var(--color-light-grey);
 }

 .volume-adjust{
    width: 150px;
    margin-bottom: 5px;
 }
